#canvas{
    border: 5px solid black;
    margin-bottom: 20px;
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

footer{
   text-align: right;
   font-family: Tangerine, serif;
   font-size: 30px;
   font-weight: bold;
   
}

h1{
    font-family: Tangerine;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

span{
    margin-left: 50%;
}

#section{
    display: inline;
}

#button1{
    color: white;
    background-color: black;
    height: 30px;
    width: 60px;
}

#button2{
    color: white;
    background-color: black;
    height: 30px;
    width: 60px;
}
